@import url(https://fonts.googleapis.com/css?family=Nunito:regular,500,600,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Titan+One:regular);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Nunito;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Nunito;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  z-index: 15;
  top: 3.75rem;
  left: 0;
  width: 100%;
  transition: top .3s ease 0s
}
.header._header-scroll {
  top: 1.25rem
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  border-radius: 7.0625rem;
  border: .25rem solid #000;
  background-color: #fff;
  padding-right: 1.25rem
}
._header-scroll .header__body {
  background-color: rgba(255,255,255,.95)
}
.header__logo {
  flex: 0 0 18.0625rem;
  width: 18.0625rem;
  aspect-ratio: 289/80
}
.header__logo img {
  width: 100%
}
.menu {
  display: flex;
  align-items: center
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center
}
.menu__link {
  display: flex;
  align-items: center
}
.menu__link > span {
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  transition: color .2s ease 0s
}
.menu__link > svg path {
  transition: fill .2s ease 0s
}
.footer {
  position: relative;
  z-index: 2;
  background-color: #000;
  color: #fff;
  padding: 5rem 0 2.5rem 0
}
.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between
}
.footer__body {
  padding-top: 5rem;
  flex: 1 1 auto;
  margin-right: -3.75rem
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}
.footer__menu {
  display: flex;
  -webkit-column-gap: 5rem;
  -moz-column-gap: 5rem;
  column-gap: 5rem
}
.footer__menu-column {
  display: flex;
  flex-direction: column;
  row-gap: 1rem
}
.footer__menu-item {
  color: #fff;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  transition: color .2s ease 0s,scale .2s ease 0s
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem
}
.footer__social-item {
  transition: rotate .2s ease 0s,scale .2s ease 0s
}
.footer__bottom {
  border-top: .125rem solid #fff;
  padding: 1.625rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.footer__bottom > a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem
}
.footer__bottom > span {
  color: #fff;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase
}
.footer__image {
  pointer-events: none
}
.footer__image img {
  max-width: 100%
}
@-webkit-keyframes line-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}
@keyframes line-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}
.hero {
  position: relative;
  min-height: 130vh
}
.hero__sky {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.hero__sky img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__title {
  position: relative;
  z-index: 2;
  color: #fff;
  text-shadow: 0 .0414746544em 0 #000,.0138248848em -.0138248848em #000,-.0138248848em -.0138248848em #000,-.0138248848em .0138248848em #000,.0138248848em .0138248848em #000;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 0 .9375rem
}
.hero__field {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%
}
.hero__field img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top
}
.hero__container {
  position: relative;
  z-index: 4
}
.hero__item {
  border-radius: 8.75rem;
  border: .25rem solid #000;
  background-color: #fff;
  box-shadow: 0 .5rem 0 0 #000;
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 1.25rem
}
.hero__text {
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem
}
.hero__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  padding: .75rem 2rem;
  border-radius: 6.25rem;
  border: .25rem solid #000;
  min-width: 14.375rem;
  background-color: #fff;
  transition: background-color .2s ease 0s
}
.hero__button > span {
  font-style: normal;
  font-weight: 800;
  line-height: 1.6;
  text-transform: uppercase;
  transition: color .2s ease 0s
}
.hero__button > svg path {
  transition: fill .2s ease 0s
}
.hero__button--blue {
  background: #2270e4
}
.hero__button--blue > span {
  color: #fff
}
.farmers {
  position: relative;
  z-index: 3
}
.farmers__bg {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: -3.75rem;
  left: 0;
  width: 100%;
  height: calc(100% + 3.75rem)
}
.farmers__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top
}
.farmers__container {
  position: relative;
  z-index: 2
}
.farmers__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.farmers__title {
  position: relative
}
.farmers__title::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: -20%;
  width: 75%;
  aspect-ratio: 1;
  background-image: url(../img/farmers/03.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-35%);
  transform: translateY(-35%)
}
.farmers__title::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 60%;
  left: -50%;
  width: 160%;
  aspect-ratio: 1;
  background-image: url(../img/farmers/02.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-35%);
  transform: translateY(-35%)
}
.farmers__title > span {
  position: relative;
  z-index: 3;
  color: #fff;
  text-shadow: 0 .06em 0 #000,.03em -.03em #000,-.03em -.03em #000,-.03em .03em #000,.03em .03em #000;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase
}
.farmers__buttons {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem
}
.farmers__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6rem;
  border: .25rem solid #000;
  background-color: #fff;
  padding: 1.625rem 2.625rem;
  transition: background-color .2s ease 0s
}
.farmers__button > span {
  color: #000;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
  transition: color .2s ease 0s
}
.farmers__button > svg path {
  transition: fill .2s ease 0s
}
.farmers__button--tutorial {
  background-color: #000;
  padding: 1rem 1rem 1rem 2.625rem
}
.farmers__button--tutorial > div {
  border-radius: 6.25rem;
  background-color: #fff;
  padding: .875rem 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.farmers__button--tutorial > div > span {
  color: #000;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase
}
.farmers__button--tutorial > span {
  color: #fff
}
.line {
  border: .25rem solid #000;
  border-left: none;
  border-right: none;
  position: relative;
  z-index: 3;
  margin-top: -.125rem
}
.line__line {
  position: relative;
  left: 0;
  width: 200%;
  background: #fff;
  left: 0;
  -webkit-animation: line-2 20s linear infinite;
  animation: line-2 20s linear infinite;
  display: flex
}
.line__line-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  text-wrap: nowrap;
  padding: 0 1.25rem;
  overflow: hidden
}
.line__line-item {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.line__line-item > span {
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase
}
.address {
  position: relative;
  z-index: 4
}
.address__bg {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.address__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top
}
.address__container {
  position: relative;
  z-index: 2
}
.address__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: .625rem
}
.address__header-title {
  color: #fff;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase
}
.address__header-address {
  display: flex;
  align-items: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  opacity: .5
}
.address__header-address-value {
  color: #fff;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase
}
.address__items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.25rem
}
.address__item {
  width: 100%
}
.item-address {
  border-radius: 1.25rem;
  border: .25rem solid #000;
  background: #fff;
  padding: 1.5rem
}
.item-address:nth-child(1) {
  box-shadow: 0 .5rem 0 0 #247928
}
.item-address:nth-child(2) {
  box-shadow: 0 .5rem 0 0 #7000ff
}
.item-address:nth-child(3) {
  box-shadow: 0 .5rem 0 0 #1f89c5
}
.item-address__title {
  color: #000;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 2rem
}
.item-address__text {
  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal
}
.item-address__button {
  margin-top: 2rem;
  width: 100%;
  max-width: 21.25rem;
  border-radius: 3.75rem;
  border: .25rem solid #000;
  padding: 1.25rem;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color .2s ease 0s
}
.item-address__button > span {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  transition: color .2s ease 0s
}
.burrrs {
  position: relative;
  z-index: 3;
  background-color: #b6ddfc
}
.burrrs__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(180deg,#0b090a 0,#196ebc 50%,rgba(80,185,243,0) 100%)
}
.burrrs__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column
}
.burrrs__header {
  border-radius: 8.75rem;
  border: .25rem solid #000;
  background: #fff;
  padding: 1rem 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  align-self: center
}
.burrrs__header span:nth-child(1) {
  color: #000;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase
}
.burrrs__header span:nth-child(3) {
  max-width: 12.5rem;
  color: #000;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase
}
.burrrs__items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.burrrs__items-items {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  position: relative
}
.burrrs__items-item {
  border-top: 2px dashed #fff;
  padding: .625rem 0
}
.burrrs__items-item p {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  line-height: 150%
}
.burrrs__items-image {
  -webkit-transform: translateY(-8.75rem);
  transform: translateY(-8.75rem)
}
.burrrs__items-image img {
  max-width: 100%
}
.projects-burrrs__title {
  color: #fff;
  text-align: center;
  text-shadow: 0 .075em 0 #000,.025em -.025em #000,-.025em -.025em #000,-.025em .025em #000,.025em .025em #000;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 3.75rem
}
.projects-burrrs__title > span {
  color: #ffd464
}
.projects-burrrs__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 3.75rem;
  -moz-column-gap: 3.75rem;
  column-gap: 3.75rem
}
.projects-burrrs__buttons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  max-width: 31.75rem
}
.projects-burrrs__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  border-radius: 6rem;
  border: .25rem solid #000;
  padding: 1.125rem 3rem;
  background-color: #fff;
  transition: background-color .2s ease 0s
}
.projects-burrrs__button > span {
  color: #000;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  transition: color .2s ease 0s
}
.projects-burrrs__button svg path {
  transition: fill .2s ease 0s
}
.projects-burrrs__image {
  pointer-events: none
}
.projects-burrrs__image img {
  max-width: 100%
}
.roadmap {
  position: relative;
  z-index: 2
}
.roadmap__bg img {
  width: 100%
}
.roadmap__title {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 0 .05em 0 #000,.03em -.03em #000,-.03em -.03em #000,-.03em .03em #000,.03em .03em #000;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase
}
.social {
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: #000
}
.social__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.social__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.social__container {
  position: relative;
  z-index: 2;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 7.5rem
}
.social__steps {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 2.5rem;
  align-items: flex-start
}
.social__step {
  border-radius: 1.25rem;
  border: .25rem solid #000;
  background-color: #fff;
  box-shadow: 0 .5rem 0 0 #000;
  padding: 1.5rem;
  position: relative
}
.social__step::before {
  position: absolute;
  top: 0;
  right: 10%;
  color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  text-shadow: 0 .075em 0 #000,.05em -.05em #000,-.05em -.05em #000,-.05em .05em #000,.05em .05em #000;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase
}
.social__step:nth-child(1)::before {
  content: "1"
}
.social__step:nth-child(2)::before {
  content: "2"
}
.social__step:nth-child(3)::before {
  content: "3"
}
.social__step:nth-child(3)::after {
  content: "";
  position: absolute;
  top: -45%;
  left: 0;
  pointer-events: none;
  z-index: 2;
  width: 170%;
  height: 170%;
  background-image: url(../img/roadmap/01.png);
  background-repeat: no-repeat;
  background-size: contain
}
.social__step:nth-child(4)::before {
  content: "";
  width: 25%;
  max-width: 4rem;
  aspect-ratio: 1;
  background-image: url(../img/roadmap/repeat.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center
}
.social__step-title {
  color: #000;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 75%
}
.social__step-text > p {
  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal
}
.social__step-text > p.bold {
  font-weight: 900
}
.social__items {
  border-radius: 8.75rem;
  border: .25rem solid #000;
  background: #fff;
  box-shadow: 0 .5rem 0 0 #000;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem
}
.social__item {
  border-radius: 6.25rem;
  border: .25rem solid #000;
  display: inline-flex;
  align-items: center;
  position: relative;
  background: #fff;
  padding: 1rem 4.9375rem 1rem 2rem;
  transition: background-color .2s ease 0s
}
.social__item > span {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  transition: color .2s ease 0s
}
.social__item svg {
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -.3125rem;
  width: 4rem;
  aspect-ratio: 1;
  transition: all .2s ease 0s
}
@media (min-width:61.99875em) {
  .hero__field {
    height: 75%
  }
  .address__item {
    flex: 0 0 calc(33% - .833125rem)
  }
  .item-address:nth-child(2) {
    -webkit-transform: translateY(40%);
    transform: translateY(40%)
  }
  .burrrs__items-items {
    max-width: 31.5625rem;
    flex: 0 0 31.5625rem
  }
  .burrrs__items-items::before {
    content: "";
    position: absolute;
    bottom: -12.5rem;
    left: 0;
    width: 100%;
    aspect-ratio: 484/384;
    background-image: url(../img/burrrs/03.png);
    background-repeat: no-repeat;
    background-position: center
  }
  .burrrs__items-item:last-child {
    max-width: 50%;
    margin-top: 5.625rem;
    -webkit-transform: translateX(200%);
    transform: translateX(200%)
  }
  .burrrs__items-item:last-child p {
    position: relative
  }
  .burrrs__items-item:last-child p::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 14.625rem;
    aspect-ratio: 234/150;
    background-image: url(../img/burrrs/02.png)
  }
  .social {
    aspect-ratio: 1488/1529
  }
}
@media (min-width:81.25em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem
  }
  .menu__link {
    -webkit-column-gap: .5rem;
    -moz-column-gap: .5rem;
    column-gap: .5rem
  }
  .menu__link > span {
    font-size: 1rem
  }
  .footer__top {
    margin-bottom: 6.25rem
  }
  .footer__menu-item {
    font-size: 3rem
  }
  .footer__bottom > a {
    font-size: 1rem
  }
  .footer__bottom > span {
    font-size: 1rem
  }
  .page__hero {
    padding-top: 11.25rem
  }
  .page__hero {
    padding-bottom: 5rem
  }
  .page__farmers {
    padding-top: 7.5rem
  }
  .page__farmers {
    padding-bottom: 5rem
  }
  .page__address {
    padding-top: 8.75rem
  }
  .page__address {
    padding-bottom: 5rem
  }
  .page__burrrs {
    padding-top: 15rem
  }
  .page__burrrs {
    padding-bottom: 7.5rem
  }
  .page__social {
    padding-top: 11.25rem
  }
  .page__social {
    padding-bottom: 7.5rem
  }
  .hero__title {
    font-size: 27.125rem
  }
  .hero__title {
    margin-bottom: 12.5rem
  }
  .hero__field {
    margin-top: -26.25rem
  }
  .hero__text {
    font-size: 2rem
  }
  .hero__button > span {
    font-size: 1rem
  }
  .farmers__title > span {
    font-size: 6.25rem
  }
  .farmers__button {
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
  .farmers__button > span {
    font-size: 2rem
  }
  .farmers__button--tutorial > div > span {
    font-size: 1rem
  }
  .line__line-item > span {
    font-size: 2.75rem
  }
  .address__header {
    margin-bottom: 51.25rem
  }
  .address__header-title {
    font-size: 2.5rem
  }
  .address__header-address-value {
    font-size: 1.25rem
  }
  .item-address__title {
    font-size: 2rem
  }
  .item-address__text {
    font-size: 1.25rem
  }
  .burrrs__header {
    margin-bottom: 6.25rem
  }
  .burrrs__header span:nth-child(1) {
    font-size: 5rem
  }
  .burrrs__header span:nth-child(3) {
    font-size: 2rem
  }
  .burrrs__items {
    margin-bottom: 22.5rem
  }
  .burrrs__items-item p {
    font-size: 1.25rem
  }
  .projects-burrrs__title {
    font-size: 5rem
  }
  .projects-burrrs__button > span {
    font-size: 2rem
  }
  .roadmap__title {
    font-size: 12.5rem
  }
  .social__step::before {
    font-size: 5rem
  }
  .social__step-title {
    font-size: 2rem
  }
  .social__step-title {
    margin-bottom: 2rem
  }
  .social__step-text > p {
    font-size: 1.25rem
  }
}
@media (max-width:65em) {
  .social__items {
    grid-template-columns: repeat(2,1fr);
    padding: 1.375rem 2rem;
    background: rgba(255,255,255,.8)
  }
}
@media (max-width:38em) {
  .hero__buttons {
    flex-direction: column;
    row-gap: .625rem
  }
}
@media (max-width:30em) {
  .hero__field {
    margin-top: .0000000625rem
  }
}
@media (max-width:20em) {
  .footer__top {
    margin-bottom: 2.5rem
  }
  .footer__menu-item {
    font-size: 2rem
  }
  .footer__bottom > a {
    font-size: .875rem
  }
  .footer__bottom > span {
    font-size: .875rem
  }
  .page__hero {
    padding-top: 8.75rem
  }
  .page__hero {
    padding-bottom: 2.5rem
  }
  .page__farmers {
    padding-top: 6.25rem
  }
  .page__farmers {
    padding-bottom: 2.5rem
  }
  .page__address {
    padding-top: 5rem
  }
  .page__address {
    padding-bottom: 2.5rem
  }
  .page__burrrs {
    padding-top: 7.5rem
  }
  .page__burrrs {
    padding-bottom: 1.25rem
  }
  .page__social {
    padding-top: 2.5rem
  }
  .page__social {
    padding-bottom: 2.5rem
  }
  .hero__title {
    font-size: 6.375rem
  }
  .hero__title {
    margin-bottom: 5rem
  }
  .hero__button > span {
    font-size: .875rem
  }
  .farmers__title > span {
    font-size: 3.25rem
  }
  .farmers__button {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .farmers__button > span {
    font-size: 1.625rem
  }
  .farmers__button--tutorial > div > span {
    font-size: .8125rem
  }
  .line__line-item > span {
    font-size: 1.5rem
  }
  .address__header {
    margin-bottom: 23.75rem
  }
  .address__header-title {
    font-size: 1.875rem
  }
  .address__header-address-value {
    font-size: .875rem
  }
  .item-address__title {
    font-size: 1.625rem
  }
  .item-address__text {
    font-size: 1rem
  }
  .burrrs__header {
    margin-bottom: 2.5rem
  }
  .burrrs__header span:nth-child(1) {
    font-size: 2.625rem
  }
  .burrrs__header span:nth-child(3) {
    font-size: 1.5rem
  }
  .burrrs__items-item p {
    font-size: 1rem
  }
  .projects-burrrs__title {
    font-size: 2.875rem
  }
  .projects-burrrs__button > span {
    font-size: 1.375rem
  }
  .roadmap__title {
    font-size: 3.5rem
  }
  .social__step::before {
    font-size: 4rem
  }
  .social__step-title {
    font-size: 1.625rem
  }
  .social__step-title {
    margin-bottom: 1.625rem
  }
  .social__step-text > p {
    font-size: 1.125rem
  }
}
@media (max-width:112.5em) {
  .line__line-item.line__line-item--pc {
    display: none
  }
}
@media (max-width:78.75em) {
  .footer__body {
    margin-right: 0;
    padding-top: 0
  }
  .footer__image {
    display: none
  }
}
@media (max-width:75.625em) {
  .line__line-item.line__line-item--tab {
    display: none
  }
}
@media (max-width:61.99875em) {
  .menu__list {
    flex-direction: column;
    row-gap: 2.5rem
  }
  .menu__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    padding: .75rem 2rem;
    border-radius: 6.25rem;
    border: .25rem solid #000;
    min-width: 14.375rem;
    background-color: #fff
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 2.25rem;
    height: 1.375rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .1875rem;
    background-color: #000;
    border-radius: .375rem
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 100%;
    top: 0;
    overflow: auto;
    background-image: url(../img/mob.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9.375rem .9375rem .9375rem 1.875rem;
    transition: left .3s
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .menu__link {
    -webkit-column-gap: .25rem;
    -moz-column-gap: .25rem;
    column-gap: .25rem
  }
  .menu__link > span {
    font-size: .9375rem
  }
  .hero {
    min-height: 100vh
  }
  .hero__field {
    aspect-ratio: 1.8/1
  }
  .hero__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.375rem 2.25rem;
    background-color: rgba(255,255,255,.7)
  }
  .hero__text {
    font-size: 1.5rem
  }
  .farmers__body {
    flex-direction: column;
    row-gap: 2.5rem
  }
  .line__line {
    -webkit-animation: line-2 14s linear infinite;
    animation: line-2 14s linear infinite
  }
  .address__items {
    flex-direction: column;
    align-items: center
  }
  .item-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  .burrrs__items {
    margin-bottom: 5rem
  }
  .burrrs__items-image {
    display: none
  }
  .projects-burrrs__body {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .social__steps {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:61.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) {
  .header {
    top: 2.5rem
  }
  .header__logo {
    flex: 0 0 13.75rem;
    width: 13.75rem
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 2.5rem
  }
  .hero {
    min-height: 100svh
  }
  .hero__field {
    aspect-ratio: 1.2/1
  }
  .hero__item {
    padding: 1.625rem 2rem
  }
  .farmers__button {
    padding: 1.29375rem 2rem
  }
  .farmers__button--tutorial {
    padding: .75rem .75rem .75rem 2rem
  }
  .farmers__button--tutorial > div {
    padding: .625rem 1rem
  }
  .line__line {
    -webkit-animation: line-2 12s linear infinite;
    animation: line-2 12s linear infinite
  }
  .line__line-item.line__line-item--mob {
    display: none
  }
  .address__header {
    align-items: center;
    text-align: center
  }
  .burrrs__header {
    padding: 1.375rem 3rem;
    flex-direction: column;
    text-align: center;
    row-gap: .625rem
  }
  .burrrs__items-items {
    row-gap: 2.625rem
  }
  .projects-burrrs__button {
    padding: 1.125rem 1.125rem
  }
  .roadmap {
    min-height: 100svh
  }
  .roadmap__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
  .roadmap__bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .social__items {
    grid-template-columns: repeat(1,1fr);
    padding: 2rem 3.25rem
  }
}
@media (max-width:37.5em) {
  .social__steps {
    grid-template-columns: repeat(1,1fr)
  }
}
@media (max-width:29.99875em) {
  .header {
    top: 1.5625rem
  }
  .header__logo {
    flex: 0 0 11.875rem;
    width: 11.875rem
  }
  .footer__menu {
    flex-direction: column;
    row-gap: 1rem
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: .9375rem
  }
  .hero__field {
    aspect-ratio: 1/1.2
  }
  .hero__item {
    padding: 2rem 2.625rem
  }
  .farmers__buttons {
    row-gap: .75rem
  }
  .item-address {
    padding: 1.5rem .9375rem
  }
  .projects-burrrs__buttons {
    width: 100%
  }
  .social__items {
    border-radius: 2.5rem;
    padding: 2rem 1rem
  }
}
@media (max-width:23.75em) {
  .line__line-item.line__line-item--mob-sm {
    display: none
  }
}
@media (min-width:61.99875em) and (max-width:81.25em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,-2.7756314525rem + 6.4930848646vw ,2.5rem)) or (column-gap:clamp(1.25rem ,-2.7756314525rem + 6.4930848646vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.25rem ,-2.7756314525rem + 6.4930848646vw ,2.5rem);
      -moz-column-gap: clamp(1.25rem ,-2.7756314525rem + 6.4930848646vw ,2.5rem);
      column-gap: clamp(1.25rem ,-2.7756314525rem + 6.4930848646vw ,2.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-2.7756314525rem + 6.4930848646vw ,2.5rem)) or (column-gap:clamp(1.25rem ,-2.7756314525rem + 6.4930848646vw ,2.5rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 61.99875rem)/ 19.25125);
      -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 61.99875rem)/ 19.25125);
      column-gap: calc(1.25rem + 1.25 * (100vw - 61.99875rem)/ 19.25125)
    }
  }
  @supports ((-moz-column-gap:clamp(0.25rem ,-0.5551262905rem + 1.2986169729vw ,0.5rem)) or (column-gap:clamp(0.25rem ,-0.5551262905rem + 1.2986169729vw ,0.5rem))) {
    .menu__link {
      -webkit-column-gap: clamp(.25rem ,-.5551262905rem + 1.2986169729vw ,.5rem);
      -moz-column-gap: clamp(.25rem ,-.5551262905rem + 1.2986169729vw ,.5rem);
      column-gap: clamp(.25rem ,-.5551262905rem + 1.2986169729vw ,.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.25rem ,-0.5551262905rem + 1.2986169729vw ,0.5rem)) or (column-gap:clamp(0.25rem ,-0.5551262905rem + 1.2986169729vw ,0.5rem))) {
    .menu__link {
      -webkit-column-gap: calc(.25rem + .25 * (100vw - 61.99875rem)/ 19.25125);
      -moz-column-gap: calc(.25rem + .25 * (100vw - 61.99875rem)/ 19.25125);
      column-gap: calc(.25rem + .25 * (100vw - 61.99875rem)/ 19.25125)
    }
  }
  @supports (font-size:clamp(0.9375rem ,0.7362184274rem + 0.3246542432vw ,1rem)) {
    .menu__link > span {
      font-size: clamp(.9375rem ,.7362184274rem + .3246542432vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.9375rem ,0.7362184274rem + 0.3246542432vw ,1rem)) {
    .menu__link > span {
      font-size: calc(.9375rem + .0625 * (100vw - 61.99875rem)/ 19.25125)
    }
  }
  @supports (font-size:clamp(1.5rem ,-0.110252581rem + 2.5972339458vw ,2rem)) {
    .hero__text {
      font-size: clamp(1.5rem ,-.110252581rem + 2.5972339458vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,-0.110252581rem + 2.5972339458vw ,2rem)) {
    .hero__text {
      font-size: calc(1.5rem + .5 * (100vw - 61.99875rem)/ 19.25125)
    }
  }
  @supports (margin-bottom:clamp(15rem ,-9.153788715rem + 38.9585091877vw ,22.5rem)) {
    .burrrs__items {
      margin-bottom: clamp(15rem ,-9.153788715rem + 38.9585091877vw ,22.5rem)
    }
  }
  @supports not (margin-bottom:clamp(15rem ,-9.153788715rem + 38.9585091877vw ,22.5rem)) {
    .burrrs__items {
      margin-bottom: calc(15rem + 7.5 * (100vw - 61.99875rem)/ 19.25125)
    }
  }
}
@media (min-width:20em) and (max-width:81.25em) {
  @supports (margin-bottom:clamp(2.5rem ,1.2755102041rem + 6.1224489796vw ,6.25rem)) {
    .footer__top {
      margin-bottom: clamp(2.5rem ,1.2755102041rem + 6.1224489796vw ,6.25rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.2755102041rem + 6.1224489796vw ,6.25rem)) {
    .footer__top {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(2rem ,1.6734693878rem + 1.6326530612vw ,3rem)) {
    .footer__menu-item {
      font-size: clamp(2rem ,1.6734693878rem + 1.6326530612vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.6734693878rem + 1.6326530612vw ,3rem)) {
    .footer__menu-item {
      font-size: calc(2rem + 1 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8341836735rem + 0.2040816327vw ,1rem)) {
    .footer__bottom > a {
      font-size: clamp(.875rem ,.8341836735rem + .2040816327vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8341836735rem + 0.2040816327vw ,1rem)) {
    .footer__bottom > a {
      font-size: calc(.875rem + .125 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8341836735rem + 0.2040816327vw ,1rem)) {
    .footer__bottom > span {
      font-size: clamp(.875rem ,.8341836735rem + .2040816327vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8341836735rem + 0.2040816327vw ,1rem)) {
    .footer__bottom > span {
      font-size: calc(.875rem + .125 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-top:clamp(8.75rem ,7.9336734694rem + 4.0816326531vw ,11.25rem)) {
    .page__hero {
      padding-top: clamp(8.75rem ,7.9336734694rem + 4.0816326531vw ,11.25rem)
    }
  }
  @supports not (padding-top:clamp(8.75rem ,7.9336734694rem + 4.0816326531vw ,11.25rem)) {
    .page__hero {
      padding-top: calc(8.75rem + 2.5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.6836734694rem + 4.0816326531vw ,5rem)) {
    .page__hero {
      padding-bottom: clamp(2.5rem ,1.6836734694rem + 4.0816326531vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.6836734694rem + 4.0816326531vw ,5rem)) {
    .page__hero {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-top:clamp(6.25rem ,5.8418367347rem + 2.0408163265vw ,7.5rem)) {
    .page__farmers {
      padding-top: clamp(6.25rem ,5.8418367347rem + 2.0408163265vw ,7.5rem)
    }
  }
  @supports not (padding-top:clamp(6.25rem ,5.8418367347rem + 2.0408163265vw ,7.5rem)) {
    .page__farmers {
      padding-top: calc(6.25rem + 1.25 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.6836734694rem + 4.0816326531vw ,5rem)) {
    .page__farmers {
      padding-bottom: clamp(2.5rem ,1.6836734694rem + 4.0816326531vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.6836734694rem + 4.0816326531vw ,5rem)) {
    .page__farmers {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-top:clamp(5rem ,3.7755102041rem + 6.1224489796vw ,8.75rem)) {
    .page__address {
      padding-top: clamp(5rem ,3.7755102041rem + 6.1224489796vw ,8.75rem)
    }
  }
  @supports not (padding-top:clamp(5rem ,3.7755102041rem + 6.1224489796vw ,8.75rem)) {
    .page__address {
      padding-top: calc(5rem + 3.75 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.6836734694rem + 4.0816326531vw ,5rem)) {
    .page__address {
      padding-bottom: clamp(2.5rem ,1.6836734694rem + 4.0816326531vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.6836734694rem + 4.0816326531vw ,5rem)) {
    .page__address {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-top:clamp(7.5rem ,5.0510204082rem + 12.2448979592vw ,15rem)) {
    .page__burrrs {
      padding-top: clamp(7.5rem ,5.0510204082rem + 12.2448979592vw ,15rem)
    }
  }
  @supports not (padding-top:clamp(7.5rem ,5.0510204082rem + 12.2448979592vw ,15rem)) {
    .page__burrrs {
      padding-top: calc(7.5rem + 7.5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,-0.7908163265rem + 10.2040816327vw ,7.5rem)) {
    .page__burrrs {
      padding-bottom: clamp(1.25rem ,-.7908163265rem + 10.2040816327vw ,7.5rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,-0.7908163265rem + 10.2040816327vw ,7.5rem)) {
    .page__burrrs {
      padding-bottom: calc(1.25rem + 6.25 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-top:clamp(2.5rem ,-0.3571428571rem + 14.2857142857vw ,11.25rem)) {
    .page__social {
      padding-top: clamp(2.5rem ,-.3571428571rem + 14.2857142857vw ,11.25rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,-0.3571428571rem + 14.2857142857vw ,11.25rem)) {
    .page__social {
      padding-top: calc(2.5rem + 8.75 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,0.8673469388rem + 8.1632653061vw ,7.5rem)) {
    .page__social {
      padding-bottom: clamp(2.5rem ,.8673469388rem + 8.1632653061vw ,7.5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,0.8673469388rem + 8.1632653061vw ,7.5rem)) {
    .page__social {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(6.375rem ,-0.4005102041rem + 33.8775510204vw ,27.125rem)) {
    .hero__title {
      font-size: clamp(6.375rem ,-.4005102041rem + 33.8775510204vw ,27.125rem)
    }
  }
  @supports not (font-size:clamp(6.375rem ,-0.4005102041rem + 33.8775510204vw ,27.125rem)) {
    .hero__title {
      font-size: calc(6.375rem + 20.75 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (margin-bottom:clamp(5rem ,2.5510204082rem + 12.2448979592vw ,12.5rem)) {
    .hero__title {
      margin-bottom: clamp(5rem ,2.5510204082rem + 12.2448979592vw ,12.5rem)
    }
  }
  @supports not (margin-bottom:clamp(5rem ,2.5510204082rem + 12.2448979592vw ,12.5rem)) {
    .hero__title {
      margin-bottom: calc(5rem + 7.5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8341836735rem + 0.2040816327vw ,1rem)) {
    .hero__button > span {
      font-size: clamp(.875rem ,.8341836735rem + .2040816327vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8341836735rem + 0.2040816327vw ,1rem)) {
    .hero__button > span {
      font-size: calc(.875rem + .125 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(3.25rem ,2.2704081633rem + 4.8979591837vw ,6.25rem)) {
    .farmers__title > span {
      font-size: clamp(3.25rem ,2.2704081633rem + 4.8979591837vw ,6.25rem)
    }
  }
  @supports not (font-size:clamp(3.25rem ,2.2704081633rem + 4.8979591837vw ,6.25rem)) {
    .farmers__title > span {
      font-size: calc(3.25rem + 3 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports ((-moz-column-gap:clamp(1.25rem ,0.0255102041rem + 6.1224489796vw ,5rem)) or (column-gap:clamp(1.25rem ,0.0255102041rem + 6.1224489796vw ,5rem))) {
    .farmers__button {
      -webkit-column-gap: clamp(1.25rem ,.0255102041rem + 6.1224489796vw ,5rem);
      -moz-column-gap: clamp(1.25rem ,.0255102041rem + 6.1224489796vw ,5rem);
      column-gap: clamp(1.25rem ,.0255102041rem + 6.1224489796vw ,5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,0.0255102041rem + 6.1224489796vw ,5rem)) or (column-gap:clamp(1.25rem ,0.0255102041rem + 6.1224489796vw ,5rem))) {
    .farmers__button {
      -webkit-column-gap: calc(1.25rem + 3.75 * (100vw - 20rem)/ 61.25);
      -moz-column-gap: calc(1.25rem + 3.75 * (100vw - 20rem)/ 61.25);
      column-gap: calc(1.25rem + 3.75 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.625rem ,1.5025510204rem + 0.612244898vw ,2rem)) {
    .farmers__button > span {
      font-size: clamp(1.625rem ,1.5025510204rem + .612244898vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.625rem ,1.5025510204rem + 0.612244898vw ,2rem)) {
    .farmers__button > span {
      font-size: calc(1.625rem + .375 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.7512755102rem + 0.306122449vw ,1rem)) {
    .farmers__button--tutorial > div > span {
      font-size: clamp(.8125rem ,.7512755102rem + .306122449vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.7512755102rem + 0.306122449vw ,1rem)) {
    .farmers__button--tutorial > div > span {
      font-size: calc(.8125rem + .1875 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.0918367347rem + 2.0408163265vw ,2.75rem)) {
    .line__line-item > span {
      font-size: clamp(1.5rem ,1.0918367347rem + 2.0408163265vw ,2.75rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.0918367347rem + 2.0408163265vw ,2.75rem)) {
    .line__line-item > span {
      font-size: calc(1.5rem + 1.25 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (margin-bottom:clamp(23.75rem ,14.7704081633rem + 44.8979591837vw ,51.25rem)) {
    .address__header {
      margin-bottom: clamp(23.75rem ,14.7704081633rem + 44.8979591837vw ,51.25rem)
    }
  }
  @supports not (margin-bottom:clamp(23.75rem ,14.7704081633rem + 44.8979591837vw ,51.25rem)) {
    .address__header {
      margin-bottom: calc(23.75rem + 27.5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.6709183673rem + 1.0204081633vw ,2.5rem)) {
    .address__header-title {
      font-size: clamp(1.875rem ,1.6709183673rem + 1.0204081633vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.6709183673rem + 1.0204081633vw ,2.5rem)) {
    .address__header-title {
      font-size: calc(1.875rem + .625 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.7525510204rem + 0.612244898vw ,1.25rem)) {
    .address__header-address-value {
      font-size: clamp(.875rem ,.7525510204rem + .612244898vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7525510204rem + 0.612244898vw ,1.25rem)) {
    .address__header-address-value {
      font-size: calc(.875rem + .375 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.625rem ,1.5025510204rem + 0.612244898vw ,2rem)) {
    .item-address__title {
      font-size: clamp(1.625rem ,1.5025510204rem + .612244898vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.625rem ,1.5025510204rem + 0.612244898vw ,2rem)) {
    .item-address__title {
      font-size: calc(1.625rem + .375 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1rem ,0.9183673469rem + 0.4081632653vw ,1.25rem)) {
    .item-address__text {
      font-size: clamp(1rem ,.9183673469rem + .4081632653vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9183673469rem + 0.4081632653vw ,1.25rem)) {
    .item-address__text {
      font-size: calc(1rem + .25 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.2755102041rem + 6.1224489796vw ,6.25rem)) {
    .burrrs__header {
      margin-bottom: clamp(2.5rem ,1.2755102041rem + 6.1224489796vw ,6.25rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.2755102041rem + 6.1224489796vw ,6.25rem)) {
    .burrrs__header {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(2.625rem ,1.8494897959rem + 3.8775510204vw ,5rem)) {
    .burrrs__header span:nth-child(1) {
      font-size: clamp(2.625rem ,1.8494897959rem + 3.8775510204vw ,5rem)
    }
  }
  @supports not (font-size:clamp(2.625rem ,1.8494897959rem + 3.8775510204vw ,5rem)) {
    .burrrs__header span:nth-child(1) {
      font-size: calc(2.625rem + 2.375 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.3367346939rem + 0.8163265306vw ,2rem)) {
    .burrrs__header span:nth-child(3) {
      font-size: clamp(1.5rem ,1.3367346939rem + .8163265306vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.3367346939rem + 0.8163265306vw ,2rem)) {
    .burrrs__header span:nth-child(3) {
      font-size: calc(1.5rem + .5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1rem ,0.9183673469rem + 0.4081632653vw ,1.25rem)) {
    .burrrs__items-item p {
      font-size: clamp(1rem ,.9183673469rem + .4081632653vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9183673469rem + 0.4081632653vw ,1.25rem)) {
    .burrrs__items-item p {
      font-size: calc(1rem + .25 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(2.875rem ,2.181122449rem + 3.4693877551vw ,5rem)) {
    .projects-burrrs__title {
      font-size: clamp(2.875rem ,2.181122449rem + 3.4693877551vw ,5rem)
    }
  }
  @supports not (font-size:clamp(2.875rem ,2.181122449rem + 3.4693877551vw ,5rem)) {
    .projects-burrrs__title {
      font-size: calc(2.875rem + 2.125 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.1709183673rem + 1.0204081633vw ,2rem)) {
    .projects-burrrs__button > span {
      font-size: clamp(1.375rem ,1.1709183673rem + 1.0204081633vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.1709183673rem + 1.0204081633vw ,2rem)) {
    .projects-burrrs__button > span {
      font-size: calc(1.375rem + .625 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(3.5rem ,0.5612244898rem + 14.693877551vw ,12.5rem)) {
    .roadmap__title {
      font-size: clamp(3.5rem ,.5612244898rem + 14.693877551vw ,12.5rem)
    }
  }
  @supports not (font-size:clamp(3.5rem ,0.5612244898rem + 14.693877551vw ,12.5rem)) {
    .roadmap__title {
      font-size: calc(3.5rem + 9 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(4rem ,3.6734693878rem + 1.6326530612vw ,5rem)) {
    .social__step::before {
      font-size: clamp(4rem ,3.6734693878rem + 1.6326530612vw ,5rem)
    }
  }
  @supports not (font-size:clamp(4rem ,3.6734693878rem + 1.6326530612vw ,5rem)) {
    .social__step::before {
      font-size: calc(4rem + 1 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.625rem ,1.5025510204rem + 0.612244898vw ,2rem)) {
    .social__step-title {
      font-size: clamp(1.625rem ,1.5025510204rem + .612244898vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.625rem ,1.5025510204rem + 0.612244898vw ,2rem)) {
    .social__step-title {
      font-size: calc(1.625rem + .375 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (margin-bottom:clamp(1.625rem ,1.5025510204rem + 0.612244898vw ,2rem)) {
    .social__step-title {
      margin-bottom: clamp(1.625rem ,1.5025510204rem + .612244898vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(1.625rem ,1.5025510204rem + 0.612244898vw ,2rem)) {
    .social__step-title {
      margin-bottom: calc(1.625rem + .375 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0841836735rem + 0.2040816327vw ,1.25rem)) {
    .social__step-text > p {
      font-size: clamp(1.125rem ,1.0841836735rem + .2040816327vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0841836735rem + 0.2040816327vw ,1.25rem)) {
    .social__step-text > p {
      font-size: calc(1.125rem + .125 * (100vw - 20rem)/ 61.25)
    }
  }
}
@media (min-width:30em) and (max-width:81.25em) {
  @supports (margin-top:clamp(-26.25rem ,15.3658537576rem + -51.2195123171vw ,0.0000000625rem)) {
    .hero__field {
      margin-top: clamp(-26.25rem ,15.3658537576rem + -51.2195123171vw ,.0000000625rem)
    }
  }
  @supports not (margin-top:clamp(-26.25rem ,15.3658537576rem + -51.2195123171vw ,0.0000000625rem)) {
    .hero__field {
      margin-top: calc(.0000000625rem + -26.2500000625 * (100vw - 30rem)/ 51.25)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover span {
    color: #2270e4
  }
  .menu__link:hover svg path {
    fill: #2270e4
  }
  .footer__menu-item:hover {
    color: #2270e4;
    scale: .95
  }
  .footer__social-item:hover {
    rotate: 5deg;
    scale: 1.1
  }
  .footer__bottom > a:hover {
    text-decoration: underline
  }
  .hero__button:hover {
    background-color: #2270e4
  }
  .hero__button:hover span {
    color: #fff
  }
  .hero__button:hover svg path {
    fill: #fff
  }
  .hero__button--blue:hover {
    background-color: #fff
  }
  .hero__button--blue:hover span {
    color: #000
  }
  .farmers__button:hover {
    background-color: #2270e4
  }
  .farmers__button:hover > span {
    color: #fff
  }
  .farmers__button:hover > svg path {
    fill: #fff
  }
  .item-address__button:hover {
    background-color: #2270e4
  }
  .item-address__button:hover > span {
    color: #fff
  }
  .projects-burrrs__button:hover {
    background-color: #2270e4
  }
  .projects-burrrs__button:hover span {
    color: #fff
  }
  .projects-burrrs__button:hover svg path {
    fill: #fff
  }
  .social__item:hover {
    background-color: #2270e4
  }
  .social__item:hover span {
    color: #fff
  }
  .social__item:hover svg {
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%)
  }
}