@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,500,600,700&display=swap);
:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #0090c1;
  --inverse: #ffff3f;
  --bg-primary: #242423;
  --bg-secondary: #7678ed;
  --bg-accent: #4cc9f0;
  --bg-inverse: #2d00f7;
  --text-primary: #fbfffe;
  --text-secondary: #080708;
  --text-accent: #e8eddf;
  --text-inverse: #e8eddf
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #1d1d1d;
  line-height: 1;
  font-family: "Noto Sans";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Noto Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #fcfbf6
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 86.375rem;
  margin: 0 auto;
  padding: 0 1.75rem
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem .625rem;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 1.75rem;
  width: 100%;
  max-width: 39.25rem;
  background-color: #272727
}
.lock .popup__content {
  visibility: visible
}
.popup__close {
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
  width: 1.25rem;
  aspect-ratio: 1
}
.popup__close svg {
  width: 100%
}
.popup__title {
  color: #ddd;
  font-family: "Noto Sans";
  font-size: 1.3125rem;
  font-weight: 500;
  margin-bottom: 1.375rem
}
.popup__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(6.875rem,1fr));
  -webkit-column-gap: 2.75rem;
  -moz-column-gap: 2.75rem;
  column-gap: 2.75rem;
  row-gap: 1.375rem
}
.popup__item {
  text-align: start;
  color: #1c71f1;
  font-family: "Noto Sans";
  font-size: 1.0625rem;
  line-height: 148%
}
.popup__item:active {
  color: #003fbf
}
.popup__item.active {
  color: #ddd
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.link {
  color: #1c71f1;
  font-size: 1.0625rem;
  line-height: 148%;
  font-family: "Noto Sans"
}
.link:active {
  color: #003fbf
}
.text {
  font-size: 1.0625rem;
  line-height: 148%
}
h1 {
  color: #000;
  font-size: 1.75rem;
  line-height: normal;
  font-weight: 500;
  text-align: center
}
h2 {
  color: #000;
  font-size: 1.5625rem;
  line-height: normal;
  font-weight: 500;
  text-align: center
}
h3 {
  color: #000;
  font-size: 1.3125rem;
  line-height: normal;
  font-weight: 500;
  text-align: center
}
.title {
  margin-bottom: 1.375rem
}
.container-800 {
  max-width: 50rem;
  margin: 0 auto
}
.button {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1.0625rem;
  background-color: #e41700;
  border-radius: .625rem;
  color: #fff;
  font-size: 1.0625rem;
  font-weight: 500;
  transition: background-color .2s ease 0s
}
.button:active {
  background-color: #b20000
}
ol {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  list-style: none;
  counter-reset: num
}
ol li {
  display: flex;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  align-items: flex-start
}
ol li::before {
  counter-increment: num;
  content: counter(num) ".";
  color: #e41700;
  line-height: 148%
}
ul {
  display: flex;
  flex-direction: column;
  row-gap: .5rem
}
ul li {
  display: flex;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  align-items: flex-start
}
ul li::before {
  content: "";
  flex: 0 0 .625rem;
  width: .625rem;
  height: .625rem;
  border-radius: 50%;
  background-color: #e41700;
  -webkit-transform: translateY(.5rem);
  transform: translateY(.5rem)
}
.header {
  position: relative;
  z-index: 5;
  background-color: #fff;
  border-bottom: .0625rem solid #ddd
}
.header__container {
  height: 4.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.header__link.active {
  color: #1d1d1d
}
.header__logo {
  width: 6rem;
  aspect-ratio: 96/34
}
.header__logo img {
  width: 100%
}
.footer {
  background-color: #272727
}
.footer__container {
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.footer__copy {
  color: #ddd;
  font-size: .9375rem
}
.footer__button {
  display: flex;
  align-items: center;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem
}
.footer__button:active svg path {
  fill: #b20000
}
.footer__button:active span {
  color: #b20000
}
.footer__button svg {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem
}
.footer__button svg path {
  transition: fill .2s ease 0s
}
.footer__button > span {
  color: #ddd;
  font-size: 1.0625rem;
  transition: color .2s ease 0s
}
.page__hero {
  padding: 2.0625rem 0
}
.page__cards {
  padding-bottom: 2.0625rem
}
.page__vegas {
  padding-bottom: 6.1875rem
}
.page__table {
  padding-top: 2.0625rem;
  padding-bottom: 6.1875rem
}
.hero__text {
  display: flex;
  flex-direction: column;
  row-gap: 1.375rem
}
.hero__text > p > span {
  font-weight: 600
}
.hero__text > p > a {
  color: #1c71f1;
  text-decoration: underline
}
.hero__text > p > a:active {
  color: #003fbf
}
.cards__items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.5rem;
  margin-bottom: 2.0625rem
}
.cards__text {
  display: flex;
  flex-direction: column;
  row-gap: 1.375rem
}
.item-cards {
  border-radius: 0 0 .625rem .625rem;
  border: .0625rem solid #ddd;
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column
}
.item-cards__image {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 300/151
}
.item-cards__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-cards__info {
  flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  -webkit-column-gap: 1.125rem;
  -moz-column-gap: 1.125rem;
  column-gap: 1.125rem;
  padding: 1.125rem
}
.item-cards__info-icon {
  flex: 0 0 4.375rem;
  max-width: 4.375rem;
  aspect-ratio: 1
}
.item-cards__info-icon img {
  width: 100%
}
.item-cards__info-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column
}
.item-cards__info-content-title {
  color: #000;
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: .3125rem
}
.item-cards__info-content-text {
  flex: 1 1 auto;
  color: #6b6b6b;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: .75rem
}
.item-cards__info-content-button {
  align-self: flex-start
}
.vegas__image {
  position: relative;
  min-width: 100%;
  aspect-ratio: 800/436;
  margin-bottom: 1.375rem
}
.vegas__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.table__container {
  display: flex;
  flex-direction: column
}
.table__text {
  margin-bottom: 1.375rem
}
.table__table-body-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.375rem
}
.table-body {
  display: grid;
  grid-template-columns: 5.875rem auto;
  overflow-x: auto;
  margin-right: -1.75rem;
  -webkit-transform: translateX(-.875rem);
  transform: translateX(-.875rem)
}
.table-body__column:nth-child(1) {
  width: 5.875rem
}
.table-body__column:nth-child(1)::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -.125rem;
  width: 100%;
  height: 100%;
  background-color: #fcfbf6
}
.table-body__column:nth-child(2) {
  width: 58.75rem
}
.table-body__column--fixed {
  position: sticky;
  z-index: 2;
  left: 0;
  display: grid;
  grid-template-rows: repeat(5,1fr)
}
.table-body__column--fixed .table-body__item:nth-child(1) {
  grid-row: 1/span 2;
  height: 5.125rem
}
.table-body__item {
  border: .0625rem solid #ddd;
  width: 5.875rem;
  height: 2.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff
}
.table-body__item span {
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 148%
}
.table-body__row {
  display: flex
}
.table-body__row-header {
  border: .0625rem solid #ddd;
  width: 100%;
  height: 2.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff
}
.table-body__row-header span {
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 148%
}
.yellow {
  background-color: #fdfabf
}
.blue {
  background-color: #bfdffd
}
.green {
  background-color: #dafdbf
}
@media (max-width:64em) {
  .cards__items {
    grid-template-columns: repeat(3,1fr);
    gap: 1.375rem
  }
}
@media (max-width:68.125em) {
  .table-body {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
}
@media (max-width:47.99875em) {
  [class*=__container] {
    padding: 0 1rem
  }
  .page__hero {
    padding: 1.875rem 0
  }
  .cards__items {
    grid-template-columns: repeat(2,1fr);
    gap: 1.25rem
  }
  .item-cards__info-icon {
    display: none
  }
  .item-cards__info-content-button {
    align-self: center
  }
  .table-body {
    margin-right: -1rem
  }
}
@media (max-width:29.99875em) {
  .popup__content {
    padding: 1rem
  }
  .popup__close {
    top: 1rem;
    right: 1rem
  }
  .popup__title {
    font-size: 1.25rem;
    margin-bottom: 1.25rem
  }
  .popup__items {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    row-gap: 1.25rem
  }
  .popup__item {
    font-size: 1rem
  }
  .link {
    font-size: 1rem
  }
  .text {
    font-size: 1rem
  }
  h1 {
    font-size: 1.5rem
  }
  h2 {
    font-size: 1.375rem
  }
  h3 {
    font-size: 1.25rem
  }
  .title {
    margin-bottom: 1.25rem
  }
  ul li {
    -webkit-column-gap: .875rem;
    -moz-column-gap: .875rem;
    column-gap: .875rem
  }
  .page__hero {
    padding: 1.5rem 0
  }
  .page__cards {
    padding-bottom: 1.875rem
  }
  .page__vegas {
    padding-bottom: 5.625rem
  }
  .page__table {
    padding-top: 1.875rem;
    padding-bottom: 5.625rem
  }
  .hero__text {
    row-gap: 1.25rem
  }
  .cards__items {
    gap: 1rem;
    margin-bottom: 1.875rem
  }
  .cards__text {
    row-gap: 1.25rem
  }
  .item-cards__info {
    padding: 1rem
  }
  .vegas__image {
    margin-bottom: 1.25rem
  }
  .table__text {
    margin-bottom: 1.25rem
  }
  .table__table-body-box {
    margin-bottom: 1.25rem
  }
  .table-body {
    grid-template-columns: 5.6875rem auto
  }
  .table-body__column:nth-child(1) {
    width: 5.6875rem
  }
  .table-body__column:nth-child(2) {
    width: 56.875rem
  }
  .table-body__column--fixed .table-body__item:nth-child(1) {
    height: 5rem
  }
  .table-body__item {
    width: 5.6875rem;
    height: 2.5rem
  }
  .table-body__item span {
    font-size: 1rem
  }
  .table-body__row-header {
    height: 2.5rem
  }
  .table-body__row-header span {
    font-size: 1rem
  }
}
@media (max-width:22.49875em) {
  .popup__close {
    width: 1.125rem
  }
  .popup__title {
    font-size: 1.125rem;
    margin-bottom: 1rem
  }
  .popup__items {
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    row-gap: 1rem
  }
  .popup__item {
    font-size: .9375rem;
    line-height: 140%
  }
  .link {
    font-size: .9375rem
  }
  .text {
    font-size: .9375rem;
    line-height: 140%
  }
  h1 {
    font-size: 1.375rem
  }
  h2 {
    font-size: 1.25rem
  }
  h3 {
    font-size: 1.125rem
  }
  .title {
    margin-bottom: 1rem
  }
  ul li {
    -webkit-column-gap: .8125rem;
    -moz-column-gap: .8125rem;
    column-gap: .8125rem
  }
  ul li::before {
    flex: 0 0 .5rem;
    width: .5rem;
    height: .5rem;
    -webkit-transform: translateY(.4375rem);
    transform: translateY(.4375rem)
  }
  .header__container {
    height: 3.125rem
  }
  .header__logo {
    width: 4.5625rem
  }
  .footer__container {
    height: 3.125rem
  }
  .footer__copy {
    font-size: .875rem
  }
  .footer__button svg {
    flex: 0 0 1.25rem;
    width: 1.25rem;
    height: 1.25rem
  }
  .footer__button > span {
    font-size: 1rem
  }
  .page__cards {
    padding-bottom: 1.5rem
  }
  .page__vegas {
    padding-bottom: 4.5rem
  }
  .page__table {
    padding-top: 1.5rem;
    padding-bottom: 4.5rem
  }
  .hero__text {
    row-gap: 1rem
  }
  .cards__items {
    margin-bottom: 1.5rem
  }
  .cards__text {
    row-gap: 1rem
  }
  .item-cards__info {
    padding: .75rem
  }
  .vegas__image {
    margin: 0 -1rem 1rem -1rem
  }
  .table__text {
    margin: 1rem
  }
  .table__table-body-box {
    margin: 1rem
  }
  .table-body__item span {
    font-size: .9375rem;
    line-height: 140%
  }
  .table-body__row-header span {
    font-size: .9375rem;
    line-height: 140%
  }
}
@media (any-hover:hover) {
  .popup__item:hover {
    color: #4ea3ff
  }
  .link:hover {
    color: #4ea3ff
  }
  .button:hover {
    background-color: #ff4932
  }
  .footer__button:hover svg path {
    fill: #ff4932
  }
  .footer__button:hover span {
    color: #ff4932
  }
  .hero__text > p > a:hover {
    color: #4ea3ff;
    text-decoration: none
  }
}